menu "esptic"

config ESPTIC_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) to connect to.

config ESPTIC_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA2) to use.

config ESPTIC_BAUDRATE
    int "TIC baudrate"
    default 9600
    help
        TIC standard: 9600
        TIC historique: 1200

config ESPTIC_UART_NUM
    int "TIC UART"
    default 0
    help
        UART peripheral to use for TIC input

config ESPTIC_UDP_HOST
    string "UDP remote hostname"
    default "myhost"

config ESPTIC_UDP_PORT
    string "UDP remote port"
    default "8094"

config ESPTIC_LED_GPIO_NUM
    int "LED GPIO NUM"
    default 2

endmenu

